<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
        <title>QTL</title>
        <script>
                console.log("Works?")
        </script>
  </head>
  <body>
    <h1> Welcome! What do you want to do?</h1>
    <br />
    <h3>Start cluster</h3>
        <form id="theForm" action="{{ url_for('create') }}" method="post">
                <input type"text" name="amount-workers" maxlength="1" placeholder="Amount of workers">
                <input type="submit">
        </form>
        <br />
    <h3>Resize cluster</h3>
        <br />
    <h3>Remove cluster</h3>
        <br />
    <h2>Output</h2>
    {{ user_mess }}
  </body>
</html>
