<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
        <title>QTL</title>
        <script>
                console.log("Works?")
        </script>
  </head>
  <body>

    <h1> Welcome! What do you want to do?</h1>
    <br />

    <h3>Start cluster</h3>
        <form action="{{ url_for('create') }}" method="post">
                <input type"text" name="amount-workers" maxlength="1" placeholder="Amount of workers...">
                <button type="submit">Start cluster</button>
        </form>
        <br />

    <h3>Resize cluster</h3>
      <form action="{{ url_for('resize') }}" method="post">
              <input type"text" name="-new-amount-workers" maxlength="1" placeholder="New amount of workers...">
              <button type="submit">Resize yao</button>
      </form>
        <br />

    <h3>Remove cluster</h3>
        <form action="{{ url_for('remove') }}" method="post">
            <button type="submit" name="remove">Remove</button>
        </form>
        <br />

    <h2>Output</h2>
    {{ user_mess }}
  </body>
</html>
