<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
        <title>QTL</title>
        <script>
                // console.log("Works?");
        </script>
  </head>
  <body>

    <h1> Welcome! What do you want to do?</h1>
    <br />

    <h3>Start cluster</h3>
        <form action="{{ url_for('create') }}" method="POST">
                <input type"number" name="amount-workers" maxlength="1" required placeholder="Amount of workers...">
                <button type="submit">Start cluster</button>
        </form>
        <br />

    <h3>Resize cluster</h3>
      <form action="{{ url_for('resize') }}" method="POST">
              <input type"number" name="new-amount-workers" maxlength="1" required placeholder="New amount of workers...">
              <button type="submit">Resize yao</button>
      </form>
        <br />

    <h3>Remove cluster</h3>
        <form action="{{ url_for('remove') }}" method="POST">
            <button type="submit" name="remove">Remove</button>
        </form>
        <br />

    <h3>Inject Data Files</h3>
        <form action="{{ url_for('inject') }}" method="POST" enctype=multipart/form-data>
            <input type="file" name="file" required />
            <input type="submit" value="Upload file!">
        </form>
        <br />

    <h2>
      Output: {% if message %}
  	  <label style="color:orange"> {{ message }} </label>
	    {% else %}
  	  <label></label>
      {% endif %}
    </h2>
  </body>
</html>
