<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Start QTL</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Start QTL </h1>
    <p> Starting qtl platfrom</p>
    <p>How many workers do you want to have?</p>
    <p>Press start to set up the QTL-platfrom</p>
    <form action = "/create" method = "post">
      <button type="submit" name="start">Start QTL</button>
    </form>
    {% endblock %}
  </body>
</html>

<!--onclick="alert('Hello world!')"
    <input type="radio" name="Amount of workers" value="1"><br>1</b>
    <input type="radio" name="Amount of workers" value="2"><br>2</b>
    <input type="radio" name="Amount of workers" value="3"><br>3</b>
    -->
